*{
  margin: 0;
  padding: 0;
  font-family: '나눔 고딕','NanumGothic','맑은 고딕',Gothic;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  width: 960px;
  display: block;
  margin: 0 auto;
  background-color: #E6E6E6;
}
#page-wrapper{
  background-color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(100,100,100,0.3);
}
#main-header{
  padding-top: 40px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 50px;
}
.mater-title{
  font-size: 15px;
  text-decoration-color: #383838;
  font-weight: 500;
}
#main-navigation{
  border: solid 1px #C8C8C8;
  margin-bottom: 20px;
  height: 40px
}
.outer-menu-item{
  float: left;
}
.outer-menu{
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  text-decoration-color: #000000;
}
.nav li a:hover{
  background: #000000;
  color: #FFFFFF;
}
.nav li a:visited{
  color: FF2400;
}
#content{
  overflow: hidden;
}
#main-section{
  float: left;
  width: 710px;
}
#main-aside{
  float: right;
  width: 200px;
}
article{
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  border: solid 1px #C8C8C8;
}
.article-header{
  padding-top: 20px;
  padding-bottom: 10px;
}
.article-title{
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: 500;
}
.article-data{
  font-size: 13px;
}
.article-body{
  font-size: 14px;
}
img[src$=".png"]{
  width: 280px;
  height: 280px;
}
img[src$=".jpg"]{
  width: 430px;
  height: 280px;
}
.aside-list{
  padding-top: 10px;
  padding-bottom: 30px;
}
h3{
  font-size: 15px;
  font-weight: 600;
}
aside a{
  font-size: 10px;
  text-decoration-color: #666666;
}
