header{
  background-color: #666666;
  text-align: center;
}

h1{
  color: #FFFFFF;
}

nav{
  font-size: 150%;
  font-family: Arial;
  font-variant: small-caps;
}

h2{
  color: #666666;
  background-color: #00B7EA;
}

details{
  font-style: italic;
}

footer{
  background-color: #666666;
}

summary{
  font-style: normal;
}
